<!DOCTYPE html>
<html lang="en">
  <head>
   {{>head_links}}
  </head>
  <body>
    <!-- main menu NavBar section  -->
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_hader">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left Side header  -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="./images/posing-men-subjects11.png"
                  class="img-fluid"
                  title="bilal"
                  alt=""
                />
              </figure>
            </div>
            <!-- right Side header  -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Weather App</p>
              <h1>I am A <span> MERN stack developer</span> and Freelancer</h1>
              <button>About Me</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section  -->
    {{>footer}}
  {{!-- footer links  --}}
 {{footer_links}}
  </body>
</html>
